---
pageTitle: Home page
---

<section class="links" style="padding: 50px 0 0">
	<div class="inner">
		<h2>Links</h2>
		<ul>
			<li><a href="#test-smooth-scroll">Smooth Scroll</a></li>
			<li><a href="https://exemple.test/">External</a></li>
			<li><a href="http://localhost:8000/defaults">Internal</a></li>
			<li><a href="http://localhost:8000/defaults/blog-post.html">File</a></li>
		</ul>
	</div>
</section>

<section style="padding: 50px 0">
	<div class="inner">
		<h2 class="title">Field example select</h2>
		<div class="select-wrapper" style="margin: 20px 0">
			<select id="ex-checkbox-options" autocomplete="off" multiple>
				<option>amazing</option>
				<option selected>awesome</option>
				<option>cool</option>
				<option selected>excellent</option>
				<option>great</option>
				<option>neat</option>
				<option>superb</option>
				<option>wonderful</option>
			</select>
		</div>
		<div class="select-wrapper">
			<select id="example-select" autocomplete="off">
				<option>amazing</option>
				<option>cool</option>
				<option selected>excellent</option>
				<option>great</option>
				<option>neat</option>
				<option>wonderful</option>
			</select>
		</div>
	</div>
</section>
<script type="module" src="{{root}}assets/js/modules/select.js"></script>

<link rel="stylesheet" href="{{root}}assets/css/section-banner.css">
<section class="section-banner" id="section-banner">
	<img src="{{root}}assets/images/test-bg.png"
		 class="object-fit object-fit-cover" alt="">
	<div class="inner">
		<h1 class="title">Lorem ipsum.</h1>
		<h2 class="sub-title">Lorem ipsum dolor sit amet.</h2>
		<p><a href="#" class="btn">Button</a></p>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/section-slider-test.css">
<section class="section-slider-test">
	<div class="inner">
		<div class="tiny-slider-example">
			<div><img src="{{root}}assets/images/test-bg.png" alt=""></div>
			<div><img src="{{root}}assets/images/test-bg.png" alt=""></div>
			<div><img src="{{root}}assets/images/test-bg.png" alt=""></div>
			<div><img src="{{root}}assets/images/test-bg.png" alt=""></div>
			<div><img src="{{root}}assets/images/test-bg.png" alt=""></div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/section-test-one.css">
<section class="section-test-one">
	<div class="inner">
		<div class="wrapper">
			<div class="left">
				<h2 class="title">Section Test One</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Accusamus adipisci aspernatur beatae
					consectetur culpa dignissimos doloribus eaque enim
					exercitationem iste magni, nihil numquam officiis
					provident quae, quidem quos, totam voluptatem.</p>
				<p><a href="#" class="btn">Button</a></p>
			</div>
			<div class="right">
				<div class="img">
					<img src="{{root}}assets/images/test-bg.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/section-test-two.css">
<section class="section-test-two">
	<div class="inner">
		<div class="wrapper">
			<div class="image">
				<div class="img">
					<img src="{{root}}assets/images/test-bg.png" alt="">
				</div>
			</div>
			<div class="text">
				<h2 class="title">Section Test Two</h2>
				<ul>
					<li>Lorem ipsum.</li>
					<li>Lorem ipsum.</li>
					<li>Lorem ipsum dolor.</li>
					<li>Lorem ipsum.</li>
					<li>Lorem ipsum dolor.</li>
				</ul>
				<p><a href="#" class="btn">Button</a></p>
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/section-test-three.css">
<section class="section-test-three">
	<div class="inner">
		<h2 class="title">Section Test Three</h2>
		<div class="wrapper">
			<div class="item">
				<div class="img">
					<img src="{{root}}assets/images/test-bg.png" alt="">
				</div>
				<h3>Lorem ipsum.</h3>
				<p>Lorem ipsum dolor.</p>
				<p><a href="#" class="btn">Button</a></p>
			</div>
			<div class="item">
				<div class="img">
					<img src="{{root}}assets/images/test-bg.png" alt="">
				</div>
				<h3>Lorem ipsum.</h3>
				<p>Lorem ipsum dolor.</p>
				<p>Lorem ipsum dolor.</p>
				<p><a href="#" class="btn">Button</a></p>
			</div>
			<div class="item">
				<div class="img">
					<img src="{{root}}assets/images/test-bg.png" alt="">
				</div>
				<h3>Lorem ipsum.</h3>
				<p>Lorem ipsum dolor.</p>
				<p>Lorem ipsum dolor.</p>
				<p>Lorem ipsum dolor.</p>
				<p><a href="#" class="btn">Button</a></p>
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/section-test-four.css">
<section class="section-test-four">
	<div class="inner">
		<h2 class="title">Section Test Four</h2>
		<div class="wrapper">
			<div class="item">
				<div class="img">
					<img src="{{root}}assets/images/test-bg.png" alt="">
				</div>
				<h3>1-Lorem ipsum.</h3>
				<p>Lorem ipsum dolor.</p>
				<p><a href="#" class="btn">Button</a></p>
			</div>
			<div class="item">
				<div class="img">
					<img src="{{root}}assets/images/test-bg.png" alt="">
				</div>
				<h3>2-Lorem ipsum.</h3>
				<p>Lorem ipsum dolor.</p>
				<p>Lorem ipsum dolor.</p>
				<p><a href="#" class="btn">Button</a></p>
			</div>
			<div class="item">
				<div class="img">
					<img src="{{root}}assets/images/test-bg.png" alt="">
				</div>
				<h3>3-Lorem ipsum.</h3>
				<p>Lorem ipsum dolor.</p>
				<p>Lorem ipsum dolor.</p>
				<p>Lorem ipsum dolor.</p>
				<p><a href="#" class="btn">Button</a></p>
			</div>
			<div class="item">
				<div class="img">
					<img src="{{root}}assets/images/test-bg.png" alt="">
				</div>
				<h3>4-Lorem ipsum.</h3>
				<p>Lorem ipsum dolor.</p>
				<p><a href="#" class="btn">Button</a></p>
			</div>
			<div class="item">
				<div class="img">
					<img src="{{root}}assets/images/test-bg.png" alt="">
				</div>
				<h3>5-Lorem ipsum.</h3>
				<p>Lorem ipsum dolor.</p>
				<p>Lorem ipsum dolor.</p>
				<p><a href="#" class="btn">Button</a></p>
			</div>
			<div class="item">
				<div class="img">
					<img src="{{root}}assets/images/test-bg.png" alt="">
				</div>
				<h3>6-Lorem ipsum.</h3>
				<p>Lorem ipsum dolor.</p>
				<p>Lorem ipsum dolor.</p>
				<p>Lorem ipsum dolor.</p>
				<p><a href="#" class="btn">Button</a></p>
			</div>
			<div class="item">
				<div class="img">
					<img src="{{root}}assets/images/test-bg.png" alt="">
				</div>
				<h3>7-Lorem ipsum.</h3>
				<p>Lorem ipsum dolor.</p>
				<p><a href="#" class="btn">Button</a></p>
			</div>
			<div class="item">
				<div class="img">
					<img src="{{root}}assets/images/test-bg.png" alt="">
				</div>
				<h3>8-Lorem ipsum.</h3>
				<p>Lorem ipsum dolor.</p>
				<p>Lorem ipsum dolor.</p>
				<p><a href="#" class="btn">Button</a></p>
			</div>
			<div class="item">
				<div class="img">
					<img src="{{root}}assets/images/test-bg.png" alt="">
				</div>
				<h3>9-Lorem ipsum.</h3>
				<p>Lorem ipsum dolor.</p>
				<p>Lorem ipsum dolor.</p>
				<p>Lorem ipsum dolor.</p>
				<p><a href="#" class="btn">Button</a></p>
			</div>
			<div class="item">
				<div class="img">
					<img src="{{root}}assets/images/test-bg.png" alt="">
				</div>
				<h3>10-Lorem ipsum.</h3>
				<p>Lorem ipsum dolor.</p>
				<p><a href="#" class="btn">Button</a></p>
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/section-test-five.css">
<section class="section-test-five">
	<div class="wrapper">
		<div class="left">
			<div class="img">
				<img src="{{root}}assets/images/test-bg.png" alt="">
			</div>
		</div>
		<div class="right">
			<h2 class="title">Section Test Five</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				Accusamus adipisci aspernatur beatae
				consectetur culpa dignissimos doloribus eaque enim
				exercitationem iste magni, nihil numquam officiis
				provident quae, quidem quos, totam voluptatem.</p>
			<p><a href="#" class="btn">Button</a></p>
		</div>
	</div>
</section>

<link rel="stylesheet" href="{{root}}assets/css/section-test-six.css">
<section class="section-test-six">
	<div class="wrapper">
		<div class="left">
			<h2 class="title">Section Test Six</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				Accusamus adipisci aspernatur beatae
				consectetur culpa dignissimos doloribus eaque enim
				exercitationem iste magni, nihil numquam officiis
				provident quae, quidem quos, totam voluptatem.</p>
			<p><a href="#" class="btn">Button</a></p>
		</div>
		<div class="right">
			<div class="img">
				<img src="{{root}}assets/images/test-bg.png" alt="">
			</div>
		</div>
	</div>
</section>

<section class="section-test-text" id="section-test-text">
	<div class="inner">
		<h1>Header one</h1>
		<h2>Header two</h2>
		<h3>Header three</h3>
		<h4>Header four</h4>
		<h5>Header five</h5>
		<h6>Header six</h6>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
			sodales turpis lacus, at mattis dui eleifend
			sit amet. Nunc at mauris vitae massa ultricies lobortis. Mauris urna
			massa, molestie et dui in, facilisis
			dignissim nulla. Vestibulum vitae malesuada metus, sit amet pretium
			arcu. Mauris sollicitudin dui a est
			tempor vestibulum. Suspendisse consectetur eget mauris vel pretium.
			Proin vel sem malesuada, commodo odio
			quis, tristique urna. Suspendisse a massa gravida, interdum enim
			vel, vestibulum nisl. Nulla lectus mauris,
			bibendum sit amet sem sodales, ultrices tempus augue. Duis luctus
			elit a sapien pharetra pretium. Curabitur
			placerat vel nisi sed viverra. Quisque ut risus tincidunt, bibendum
			felis nec, tempus odio. Mauris cursus
			tristique dui sit amet porttitor. Aliquam maximus lacinia ante non
			sagittis.</p>
		<p>Vivamus et condimentum elit. Donec accumsan egestas posuere. Proin et
			scelerisque augue, at porttitor erat.
			Duis fermentum aliquam augue, sed porttitor nulla. Pellentesque
			euismod arcu ac sapien finibus ultricies.
			Mauris aliquam nunc ut ante congue congue a in erat. Suspendisse
			fermentum urna malesuada lacus lacinia, id
			lobortis eros dignissim.</p>
		<p>Etiam pretium mauris quis finibus blandit. Mauris at nunc et lectus
			dictum maximus non ut ante. Quisque
			accumsan felis sit amet fermentum rhoncus. Nullam condimentum
			sagittis tortor eu mattis. Nullam eu nibh
			nisi. Aenean et auctor mi. Maecenas in arcu et diam porttitor
			eleifend at ac nisi. In hac habitasse platea
			dictumst. Vivamus vehicula urna a venenatis accumsan.</p>
		<ul>
			<li>List item</li>
			<li>List item
				<ul>
					<li>List sub item</li>
					<li>List sub item</li>
					<li>List sub item</li>
				</ul>
			</li>
			<li>List item</li>
			<li>List item</li>
			<li>List item</li>
		</ul>
		<p>Morbi lobortis, mauris in egestas aliquam, neque turpis placerat
			augue, ac mollis est ligula at justo. Nullam
			condimentum nisi sit amet augue dictum, at euismod mi interdum. Sed
			faucibus nisi vel odio interdum tempor.
			Aliquam vitae nisi at nunc convallis suscipit. Nunc imperdiet dui
			vel tellus tincidunt tincidunt.
			Suspendisse tempus enim eu faucibus luctus. In pharetra nibh ex, eu
			vehicula libero porttitor vitae.</p>
		<ol>
			<li>List item</li>
			<li>List item
				<ol>
					<li>List sub item</li>
					<li>List sub item</li>
					<li>List sub item</li>
				</ol>
			</li>
			<li>List item</li>
			<li>List item</li>
			<li>List item</li>
		</ol>
		<p>Cras pulvinar tortor id euismod facilisis. Donec mollis aliquam augue
			id scelerisque. Donec accumsan
			imperdiet ante, sed interdum dui consequat ut. Curabitur
			pellentesque felis ligula, vitae pretium ligula
			blandit in. Fusce viverra nulla eget lacus tempus ornare. Ut
			tincidunt quis ligula sed sollicitudin.
			Curabitur volutpat, orci vel ultricies dictum, massa metus dictum
			enim, eu dignissim felis urna vitae felis.
			Ut convallis ligula ex, ac elementum enim sodales sed.</p>
		<table>
			<tbody>
			<tr>
				<th>Lorem ipsum dolor</th>
				<th>sit amet, consectetur</th>
				<th>adipiscing elit.</th>
			</tr>
			<tr>
				<td>Proin sodales turpis lacus, at mattis dui eleifend sit
					amet.
				</td>
				<td>Nunc at mauris vitae massa ultricies lobortis.</td>
				<td>Mauris urna massa, molestie et dui in, facilisis dignissim
					nulla.
				</td>
			</tr>
			<tr>
				<td>Vestibulum vitae malesuada metus, sit amet pretium arcu.
					Mauris sollicitudin dui a est tempor
					vestibulum.
				</td>
				<td>Suspendisse consectetur eget mauris vel pretium.</td>
				<td>Proin vel sem malesuada, commodo odio quis, tristique urna.
					Suspendisse a massa gravida, interdum
					enim vel, vestibulum nisl. Nulla lectus mauris, bibendum sit
					amet sem sodales, ultrices tempus
					augue.
				</td>
			</tr>
			</tbody>
		</table>
		<p>Integer cursus erat at mauris pretium suscipit. Lorem ipsum dolor sit
			amet, consectetur adipiscing elit.
			Nullam elementum sapien augue, vel gravida libero varius eu.
			Vestibulum sit amet risus metus. Quisque ut
			venenatis neque. Suspendisse congue posuere eros, vestibulum mattis
			ligula elementum non. Quisque sodales
			pretium vulputate. Duis eget nulla et ipsum porttitor volutpat a
			quis felis. Ut venenatis lectus ut
			efficitur efficitur. Proin vel justo aliquet, bibendum enim non,
			tristique nisl. Maecenas a pulvinar
			justo.</p>
		<blockquote><p>Vivamus ultricies sem sed felis lobortis vehicula. Nam
			vestibulum arcu turpis, blandit sodales
			lacus tempor eu. Duis id erat aliquet, pellentesque enim eget,
			venenatis tortor. Etiam accumsan nec leo et
			laoreet. Morbi a malesuada erat, eu eleifend lorem. Sed pulvinar
			viverra mi, sit amet elementum ipsum
			blandit eu. Integer molestie ligula eu tempor vulputate. Nunc nibh
			libero, cursus in lobortis ac, sodales in
			quam. Praesent non euismod nulla. Nulla facilisi. Nullam laoreet,
			eros quis tincidunt pellentesque, metus
			velit elementum neque, at aliquet ante leo a nisl. Aliquam ex nisl,
			accumsan nec odio vel, laoreet pharetra
			libero. Morbi mattis mauris finibus velit tempor feugiat. Fusce
			consectetur vulputate lobortis.</p>
		</blockquote>
		<p><img class="alignleft" src="https://dummyimage.com/300x300"
				alt=""><br>
			Etiam non tellus erat. Integer nec quam a nibh gravida ultricies. Ut
			laoreet varius purus. Donec ac neque
			rutrum, facilisis urna quis, tristique eros. Ut varius lectus quis
			aliquet elementum. Phasellus non tortor
			ac mauris imperdiet commodo. Aliquam ultrices quam nec tortor
			interdum, a pulvinar turpis pulvinar.
			Suspendisse malesuada tellus nec velit consectetur cursus nec non
			magna. Nulla facilisi. Mauris vitae
			maximus purus. Mauris dolor ligula, congue quis metus vitae, viverra
			posuere enim. Vestibulum nibh erat,
			bibendum vel neque at, blandit ultrices metus. Nulla fermentum
			lectus risus, sed vestibulum tortor pretium
			sed. Etiam lobortis, neque vehicula suscipit suscipit, tellus est
			porttitor nibh, vitae vehicula nunc justo
			a mi. Maecenas lacinia ipsum in ullamcorper interdum. Suspendisse
			vulputate nunc eget faucibus accumsan.</p>
		<p>Etiam vulputate libero sed felis cursus pulvinar. Mauris pharetra,
			ipsum a iaculis placerat, eros quam
			tincidunt tellus, eget eleifend massa erat ut est. In molestie ut
			odio at dapibus. Nullam consequat, odio
			non porta tincidunt, orci dui maximus sem, eget mattis arcu neque
			quis arcu. Nunc sit amet ante placerat,
			fermentum ligula nec, bibendum quam. Integer sed lobortis erat.
			Vestibulum mollis dolor at sapien imperdiet,
			et faucibus ante accumsan. Aliquam porta dui eu nulla semper, in
			ultricies arcu commodo. Phasellus quis diam
			in magna porttitor cursus. Nam sed semper metus, quis consectetur
			nisi. Nulla venenatis imperdiet ligula,
			non cursus tortor suscipit vel. Fusce fringilla ultrices orci quis
			lobortis.</p>
		<p><img class="aligncenter" src="https://dummyimage.com/350x150" alt=""><br>
			Cras id eleifend eros. Vestibulum lacinia quam ut lorem tempus, id
			feugiat sapien elementum. Etiam tempor
			pellentesque nulla eu vestibulum. Etiam fermentum, nunc commodo
			volutpat ullamcorper, velit urna tristique
			magna, quis mollis leo lectus et ex. Aenean nec risus mattis,
			tincidunt dolor id, pellentesque urna. Nullam
			feugiat pretium urna eu tempus. Aenean commodo elit sed velit porta
			egestas. Donec aliquet eleifend risus,
			sit amet tincidunt nunc sodales in.</p>
		<p><img class="alignright" src="https://dummyimage.com/200x350"
				alt=""><br>
			Pellentesque malesuada est sit amet turpis iaculis, in ultrices
			felis aliquam. Vivamus dolor ipsum,
			porttitor in augue et, pharetra tempor tellus. Praesent vel tortor
			lorem. Ut ullamcorper odio vitae
			consectetur auctor. Nulla neque ipsum, scelerisque eget nisi non,
			scelerisque aliquam tellus. Nullam rutrum
			urna ut tellus sollicitudin bibendum. Suspendisse in purus sed
			libero placerat malesuada ac ac lorem. Nam
			rutrum risus vel ligula tincidunt, a mattis quam aliquet. Etiam est
			lacus, tincidunt vel facilisis nec,
			fringilla ac nulla. Fusce ullamcorper mauris sed elit venenatis, eu
			dictum metus blandit. Integer ac nulla
			fringilla, dignissim lorem eu, vulputate nisi.</p>
		<p>Etiam nec vulputate orci. Suspendisse sed lacus non turpis malesuada
			porta quis sed metus. Ut lobortis varius
			sollicitudin. Nulla eu purus efficitur, facilisis risus non, varius
			ex. Nullam sed ultrices erat. Class
			aptent taciti sociosqu ad litora torquent per conubia nostra, per
			inceptos himenaeos. Class aptent taciti
			sociosqu ad litora torquent per conubia nostra, per inceptos
			himenaeos. Integer mollis leo sit amet lobortis
			laoreet. Proin erat est, fermentum sagittis nisl et, molestie
			consectetur turpis. Nunc iaculis lorem eget
			lorem pulvinar convallis. Praesent rutrum tellus risus, eget
			venenatis nunc feugiat faucibus. Praesent augue
			erat, condimentum convallis faucibus ultrices, porttitor vel ligula.
			Sed tempus commodo lorem, imperdiet
			ultricies leo imperdiet a. Donec porta nisi vel tincidunt egestas.
			Proin aliquam nibh quis neque iaculis,
			non dignissim justo tempus.</p>
	</div>
</section>

<section class="section-test-dialog" style="padding: 70px 0" id="1">
	<div class="inner"
		 style="display: flex; flex-direction: column; gap: 40px; align-items: flex-start">
		<h2>Popups</h2>
		<h3>HTML</h3>
		<p>
			<button class="btn" type="button" data-popup-id="my-popup">
				Open popup button
			</button>
		</p>
		{{#>popup id="my-popup"}}
			<h2 class="popup__title">Lorem ipsum dolor sit amet, consectetur
				adipisicing elit.</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				Accusamus adipisci aspernatur beatae
				consectetur culpa dignissimos doloribus eaque enim
				exercitationem iste magni, nihil numquam officiis
				provident quae, quidem quos, totam voluptatem.</p>
		{{/popup}}
		<p><a href="#popup-example">Open popup link</a></p>
		{{#>popup id="popup-example"}}
			<h2 class="popup__title">Lorem ipsum dolor sit amet, consectetur
				adipisicing elit.</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				Accusamus adipisci aspernatur beatae
				consectetur culpa dignissimos doloribus eaque enim
				exercitationem iste magni, nihil numquam officiis
				provident quae, quidem quos, totam voluptatem.</p>
		{{/popup}}
		<h3>Videos</h3>
		<p>
			<a href="https://www.youtube.com/watch?v=EEUXHmZZZ1U">
				<img src="{{root}}assets/images/test-bg.png" alt="">
			</a>
		</p>
		<p>
			<a href="https://vimeo.com/video/764607489">
				<img src="{{root}}assets/images/test-bg.png" alt="">
			</a>
		</p>
		<ul>
			<li>
				<a href="https://www.youtube.com/watch?v=EEUXHmZZZ1U">
					YouTube Popup
				</a>
			</li>
			<li>
				<a href="https://vimeo.com/video/764607489">
					Vimeo Popup
				</a>
			</li>
		</ul>
	</div>
</section>

<section class="accordions" id="test-smooth-scroll">
	<div class="inner">
		<h2>Accordion</h2>
	</div>
</section>

<section class="sliders">
	<div class="inner">
		<h2>Slider</h2>
		<div class="slider">
			<div class="item">
				<div class="img img-1">
					<a href="">0</a>
				</div>
				<p>
					Sunt dignissimos distinctio, veniam, tenetur aspernatur
					nulla!
				</p>
			</div>
			<div class="item">
				<div class="img img-2">
					<a href="">1</a>
				</div>
				<p>
					Corrupti, libero minima nihil expedita officiis? Quo.
				</p>
			</div>
			<div class="item">
				<div class="img img-3">
					<a href="">2</a>
				</div>
				<p>
					Alias rem, ab impedit recusandae repellat tempore.
				</p>
			</div>
			<div class="item">
				<div class="img img-4">
					<a href="">3</a>
				</div>
				<p>
					Nisi inventore quo delectus perspiciatis voluptatibus, quae.
				</p>
			</div>
			<div class="item">
				<div class="img img-5">
					<a href="">4</a>
				</div>
				<p>
					Nisi harum earum consectetur laudantium iusto, laboriosam.
				</p>
			</div>
			<div class="item">
				<div class="img img-6">
					<a href="">5</a>
				</div>
				<p>
					Dolores blanditiis neque, quis vitae? Reprehenderit,
					aliquam.
				</p>
			</div>
			<div class="item">
				<div class="img img-7">
					<a href="">6</a>
				</div>
				<p>
					Omnis dolorum eum blanditiis, ratione voluptates quod.
				</p>
			</div>
		</div>
		<style>
			.sliders {
				overflow: hidden;
			}

			.sliders .slider {
				margin-right: -30px;
			}

			.tns-nav,
			.sliders .item {
				text-align: center;
			}

			.sliders .item a {
				font-size: 35px;
			}

			.tns-nav button {
				width: 20px;
				height: 3px;
				border: none;
				transition: 0.3s;
			}

			.tns-nav-active {
				background: red;
			}
		</style>
	</div>
</section>

<section class="tabs">
	<div class="inner">
		<h2>Tabs</h2>
		<ul>
			<li><a href="#section-banner">Scroll to banner</a></li>
		</ul>
	</div>
</section>
