<footer class="page-footer">
	<div class="inner">
		<div class="page-footer__top">
			<nav class="menu-footer-main" aria-label="Footer Main">
				<ul class="menu-footer-main__items" data-role="menubar" data-menu-navigation>
					<li class="menu-footer-main__item menu-footer-main__item_level_1">
						<a class="menu-footer-main__link menu-footer-main__link_level_1" href="#" data-role="menuitem">Lorem ipsum</a>
						<ul class="menu-footer-main__sub-items" data-role="menu">
							<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
								ipsum</a></li>
							<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
								ipsum dolor</a></li>
							<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
								ipsum</a></li>
							<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
								ipsum</a></li>
							<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
								ipsum dolor</a></li>
							<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
								ipsum dolor</a></li>
						</ul>
					</li>
					<li class="menu-footer-main__item menu-footer-main__item_level_1">
						<a class="menu-footer-main__link menu-footer-main__link_level_1" href="#" data-role="menuitem">Lorem ipsum</a>
						<ul class="menu-footer-main__sub-items" data-role="menu">
							<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
								ipsum</a></li>
							<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
								ipsum dolor</a></li>
							<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
								ipsum</a></li>
							<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
								ipsum</a></li>
							<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
								ipsum dolor</a></li>
							<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
								ipsum dolor</a>
								<ul class="menu-footer-main__sub-items" data-role="menu">
									<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
										ipsum</a></li>
									<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
										ipsum dolor</a></li>
									<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
										ipsum</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="menu-footer-main__item menu-footer-main__item_level_1">
						<a class="menu-footer-main__link menu-footer-main__link_level_1" href="#" data-role="menuitem">Lorem ipsum</a>
						<ul class="menu-footer-main__sub-items" data-role="menu">
							<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
								ipsum</a></li>
							<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
								ipsum dolor</a></li>
							<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
								ipsum</a></li>
							<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
								ipsum dolor</a></li>
						</ul>
					</li>
					<li class="menu-footer-main__item menu-footer-main__item_level_1">
						<a class="menu-footer-main__link menu-footer-main__link_level_1" href="#" data-role="menuitem">Lorem ipsum</a>
						<ul class="menu-footer-main__sub-items" data-role="menu">
							<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
								ipsum</a></li>
							<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
								ipsum dolor</a></li>
							<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
								ipsum</a></li>
							<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
								ipsum dolor</a></li>
							<li class="menu-footer-main__item"><a class="menu-footer-main__link" href="#" data-role="menuitem">Lorem
								ipsum dolor</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<div class="page-footer__content">
				<div class="page-footer__contacts">
					<h3>Lorem ipsum dolor sit</h3>
					<p>Telephone: <a href="tel:#">(111) 111-1111</a></p>
					<p>Email: <a href="mailto:#">123456@site.com</a></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
					<p><a href="#">Dallas, TX 75247</a></p>
				</div>
				<div class="social-links social-links_size_30">
					{{#if title}}
						<h3>{{title}}</h3>
					{{/if}}
					<a class="social-links__link" href="#">
						<img class="social-links__image" src="{{root}}assets/images/social-icons/instagram.svg" alt="">
						<span class="social-links__text">Instagram</span>
					</a>
					<a class="social-links__link" href="#">
						<img class="social-links__image" src="{{root}}assets/images/social-icons/youtube.svg" alt="">
						<span class="social-links__text">YouTube</span>
					</a>
					<a class="social-links__link" href="#">
						<img class="social-links__image" src="{{root}}assets/images/social-icons/facebook.svg" alt="">
						<span class="social-links__text">Facebook</span>
					</a>
					<a class="social-links__link" href="#">
						<img class="social-links__image" src="{{root}}assets/images/social-icons/tiktok.svg" alt="">
						<span class="social-links__text">TikTok</span>
					</a>
					<a class="social-links__link" href="#">
						<img class="social-links__image" src="{{root}}assets/images/social-icons/linkedin.svg" alt="">
						<span class="social-links__text">LinkedIn</span>
					</a>
				</div>
			</div>
		</div>
		<div class="page-footer__bottom">
			<div class="page-footer__wrapper">
				<p class="page-footer__copyright">© Lorem ipsum. All Rights Reserved</p>
				<div class="menu-footer-links" >
					<ul class="menu-footer-links__items" data-role="menubar" data-menu-navigation>
						<li class="menu-footer-links__item"><a class="menu-footer-links__link" data-role="menuitem" href="#">Site Map</a></li>
						<li class="menu-footer-links__item"><a class="menu-footer-links__link" data-role="menuitem" href="#">Privacy</a></li>
						<li class="menu-footer-links__item"><a class="menu-footer-links__link" data-role="menuitem" href="#">Terms</a></li>
					</ul>
				</div>
			</div>
			<div class="page-footer__by">
				{{>by title="Dallas WordPress Development:" href="https://www.webloftdesigns.com/" name="Web Loft Designs"}}
			</div>
		</div>
	</div>
</footer>
