---
pageTitle: FAQ
---

<link rel="stylesheet" href="{{root}}assets/css/forms.css">
<link rel="stylesheet" href="{{root}}assets/css/accordion.css">
<link rel="stylesheet" href="{{root}}assets/css/tabs.css">
<link rel="stylesheet" href="{{root}}assets/css/faq.css">
<section class="faq">
	<div class="inner">
		<div class="faq__search-block">
			<img src="{{root}}assets/images/faq-bg.jpg" class="object-fit object-fit-cover" alt="">
			<h1 class="faq__title">You have questions, we have answers</h1>
			<form class="faq__search-form form" role="search" method="get" action="/">
				<div class="form__item">
					<label class="form__label" for="faq-search-field">Type your question</label>
					<input class="form__input" id="faq-search-field" type="search" value="" name="s">
				</div>
				<input class="form__submit btn" type="submit" value="Search">
			</form>
		</div>

		<div class="faq__tabs">
			{{#>tabs customClass=''}}
				{{#>tablist}}
					{{#>tab}}All{{/tab}}
					{{#>tab}}Community Solar{{/tab}}
					{{#>tab}}Land Owners{{/tab}}
				{{/tablist}}
				{{#>tabpanel first=true}}
					{{#>accordion active="true"}}
						{{#>accordion-button}}
							Lorem ipsum dolor sit amet,consectetur adipiscing elit. testtest
						{{/accordion-button}}
						{{#>accordion-panel}}
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
						{{/accordion-panel}}
					{{/accordion}}
					{{#>accordion}}
						{{#>accordion-button}}
							Lorem ipsum dolor sit amet,consectetur adipiscing elit.
						{{/accordion-button}}
						{{#>accordion-panel}}
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
						{{/accordion-panel}}
					{{/accordion}}
					{{#>accordion}}
						{{#>accordion-button}}
							Lorem ipsum dolor sit amet,consectetur adipiscing elit. testtest
						{{/accordion-button}}
						{{#>accordion-panel}}
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
						{{/accordion-panel}}
					{{/accordion}}
					{{#>accordion}}
						{{#>accordion-button}}
							Lorem ipsum dolor sit amet,consectetur adipiscing elit.
						{{/accordion-button}}
						{{#>accordion-panel}}
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
						{{/accordion-panel}}
					{{/accordion}}
					{{#>accordion}}
						{{#>accordion-button}}
							Lorem ipsum dolor sit amet,consectetur adipiscing elit.
						{{/accordion-button}}
						{{#>accordion-panel}}
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
						{{/accordion-panel}}
					{{/accordion}}
					{{#>accordion}}
						{{#>accordion-button}}
							Lorem ipsum dolor sit amet,consectetur adipiscing elit.
						{{/accordion-button}}
						{{#>accordion-panel}}
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
						{{/accordion-panel}}
					{{/accordion}}
					{{#>accordion}}
						{{#>accordion-button}}
							Lorem ipsum dolor sit amet,consectetur adipiscing elit. testtest
						{{/accordion-button}}
						{{#>accordion-panel}}
							<img src="{{root}}assets/images/faq-1.jpg" alt="">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
							<img class="alignleft" src="{{root}}assets/images/faq.jpg" alt="">
							<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
							<p>Arcu quis eu, adipiscing magna aliquam rhoncus lacus, molestie mattis. Ac diam at eget
								vitae id integer eu, tellus. Diam semper sagittis maecenas ultricies facilisis. Arcu
								nisl pretium, interdum scelerisque. Suspendisse curabitur sit egestas tortor cursus
								fermentum pulvinar tincidunt tincidunt.</p>
						{{/accordion-panel}}
					{{/accordion}}
				{{/tabpanel}}
				{{#>tabpanel}}
					{{#>accordion}}
						{{#>accordion-button}}
							Lorem ipsum dolor sit amet,consectetur adipiscing elit.
						{{/accordion-button}}
						{{#>accordion-panel}}
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
						{{/accordion-panel}}
					{{/accordion}}
					{{#>accordion}}
						{{#>accordion-button}}
							Lorem ipsum dolor sit amet,consectetur adipiscing elit.
						{{/accordion-button}}
						{{#>accordion-panel}}
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
						{{/accordion-panel}}
					{{/accordion}}
					{{#>accordion}}
						{{#>accordion-button}}
							Lorem ipsum dolor sit amet,consectetur adipiscing elit.
						{{/accordion-button}}
						{{#>accordion-panel}}
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
						{{/accordion-panel}}
					{{/accordion}}
					{{#>accordion}}
						{{#>accordion-button}}
							Lorem ipsum dolor sit amet,consectetur adipiscing elit. testtest
						{{/accordion-button}}
						{{#>accordion-panel}}
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
						{{/accordion-panel}}
					{{/accordion}}
				{{/tabpanel}}
				{{#>tabpanel}}
					{{#>accordion}}
						{{#>accordion-button}}
							Lorem ipsum dolor sit amet,consectetur adipiscing elit.
						{{/accordion-button}}
						{{#>accordion-panel}}
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
						{{/accordion-panel}}
					{{/accordion}}
					{{#>accordion}}
						{{#>accordion-button}}
							Lorem ipsum dolor sit amet,consectetur adipiscing elit.
						{{/accordion-button}}
						{{#>accordion-panel}}
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
						{{/accordion-panel}}
					{{/accordion}}
					{{#>accordion}}
						{{#>accordion-button}}
							Lorem ipsum dolor sit amet,consectetur adipiscing elit. 111 testtest
						{{/accordion-button}}
						{{#>accordion-panel}}
							<img src="{{root}}assets/images/faq-1.jpg" alt="">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis eu, adipiscing magna
								aliquam rhoncus
								lacus, molestie mattis. Ac diam at eget vitae id integer eu, tellus. Diam semper sagittis
								maecenas
								ultricies facilisis. Arcu nisl pretium, interdum scelerisque. Suspendisse curabitur sit
								egestas tortor
								cursus fermentum pulvinar tincidunt tincidunt.</p>
							<img class="alignleft" src="{{root}}assets/images/faq.jpg" alt="">
							<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
							<p>Arcu quis eu, adipiscing magna aliquam rhoncus lacus, molestie mattis. Ac diam at eget
								vitae id integer eu, tellus. Diam semper sagittis maecenas ultricies facilisis. Arcu
								nisl pretium, interdum scelerisque. Suspendisse curabitur sit egestas tortor cursus
								fermentum pulvinar tincidunt tincidunt.</p>
						{{/accordion-panel}}
					{{/accordion}}
				{{/tabpanel}}
			{{/tabs}}
		</div>
	</div>
</section>
<script type="module" src="{{root}}assets/js/modules/faq-search.js"></script>
