{{! part of gform-checkboxes partial }}

<div class="gchoice">
	<input
		type="checkbox"
		value="{{defaultValue}}"
		id="choice_{{gFormIndex}}_{{gFormFieldIndex}}_{{gFormSubFieldIndex true}}"
		class="gfield-choice-input"
	>
	<label for="choice_{{gFormIndex}}_{{gFormFieldIndex}}_{{gFormSubFieldIndex}}">{{labelText}}</label>
</div>
